#sidebar {
    height: calc(100vh - 116px);
    padding: 50px 20px;
    position: absolute;
    top: -275px;
    left: 0;
    z-index: 10;
    transition: 0.7s;
}

@media screen and (max-width: 1300px) {
    nav {
        #bars {
            display: block !important;
        }
    
        #navbar {
            display: none !important;
        }
    
        #cart-login {
            display: none !important;
        }
    }
}