.slider-2 {
    width: 100%;
    height: 100vh;
    background-image: url("https://www.hdwallpapers.in/download/audi_rs6_avant_2_4k_hd_cars-3840x2160.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    text-align: center;
    padding-top: 45%;

    iframe {
        margin: 7% 15%;
    }

    div {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;

        h1 {
            font-size: 80px;
            color: #fff;
        }

        button {
            width: 190px;
            height: 60px;
            border-radius: 12px;
            background-color: #1ecb15;
            font-size: 1.5rem;
            font-weight: 500;
            color: #fff;
            transition: 0.4s;
            position: absolute;
            left: 5%;
            bottom: 10%;
        }
    
        button:hover {
            background-color: black;
            color: #1ecb15;
            border: 3px solid #1ecb15;
        }
    }   
}

.slider-1 {
    width: 100%;
    height: 100vh;
    background-image: url("https://wallpapercave.com/wp/wp11340940.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    text-align: end;
    align-items: end;

    div {
        text-align: center;

        h1 {
            font-size: 80px;
            color: #fff;
        }

        button {
            width: 190px;
            height: 60px;
            border-radius: 12px;
            background-color: #1ecb15;
            font-size: 1.5rem;
            font-weight: 500;
            color: #fff;
            transition: 0.4s;
            position: absolute;
            left: 5%;
            bottom: 10%;
        }
    
        button:hover {
            background-color: black;
            color: #1ecb15;
            border: 3px solid #1ecb15;
        }
    }    
}

.slider-3 {
    width: 100%;
    height: 100vh;
    background-image: url("https://www.hdcarwallpapers.com/download/ssr_performance_porsche_911_gt3_r_4k-2560x1440.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    text-align: center;
    padding-top: 45%;

    div {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;

        // h1 {
        //     font-size: 80px;
        //     color: #fff;
        // }

        button {
            width: 190px;
            height: 60px;
            border-radius: 12px;
            background-color: #1ecb15;
            font-size: 1.5rem;
            font-weight: 500;
            color: #fff;
            transition: 0.4s;
            margin-top: 30px;
            position: absolute;
            left: 5%;
            bottom: 10%;
        }
    
        button:hover {
            background-color: black;
            color: #1ecb15;
            border: 3px solid #1ecb15;
        }
    }   
}

.swiper-pagination-bullet-active {
    background-color: #1ecb15 !important;
}